<html>
    <head>
        <title>LiftedWiki: <%= title %></title>
        <link rel="stylesheet" type="text/css" href="main.css"/>
    </head>
    <body>
        <h1 class="pagetitle"><%= title %></h1>

        <%= body %>
    </body>
</html>